
/*===========================
      01.COMMON css
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");





body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #121212; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #121212;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  margin: 0px; }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0; }

/*===== All Section Title Style =====*/
.section-title .title {
  font-size: 44px;
  font-weight: 600;
  color: #121212;
  line-height: 55px; }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 30px;
      line-height: 35px; } }
.section-title .text {
  font-size: 16px;
  line-height: 24px;
  color: #6c6c6c;
  margin-top: 24px; }


  /*===========================
      11.BUTTON css
  ===========================*/

  .custom-button {

    margin-top: 5rem;

  };


  .myButton {
	box-shadow:inset 0px 3px 11px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:10px;
	border:2px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:8px 1px;
	text-decoration:none;
	text-shadow:1px 2px 7px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}





@-webkit-keyframes iconTranslateY {
  49% {
    -webkit-transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  51% {
    opacity: 1; } }
@-moz-keyframes iconTranslateY {
  49% {
    -webkit-transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  51% {
    opacity: 1; } }
@keyframes iconTranslateY {
  49% {
    -webkit-transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  51% {
    opacity: 1; } }




/* navbar */
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 99; }
  .navbar-area .navbar {
    position: relative;
    padding: 0; }
    .navbar-area .navbar .navbar-toggler .toggler-icon {
      width: 30px;
      height: 2px;
      background-color: #fff;
      margin: 5px 0;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
      opacity: 0; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      top: -7px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-area .navbar .navbar-collapse {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;
        background-color: #f4f6f7;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); } }
    @media (max-width: 767px) {
      .navbar-area .navbar .navbar-collapse {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;
        background-color: #f4f6f7;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); } }
    .navbar-area .navbar .navbar-nav .nav-item {
      margin: 0 16px;
      position: relative; }
      .navbar-area .navbar .navbar-nav .nav-item a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        padding: 26px 0;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        opacity: 0.8;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navbar-area .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block;
            color: #121212; } }
        @media (max-width: 767px) {
          .navbar-area .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block;
            color: #121212; } }
        .navbar-area .navbar .navbar-nav .nav-item a::before {
          position: absolute;
          content: '';
          width: 32px;
          height: 4px;
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
          background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
          background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, white 100%);
          left: 50%;
          margin: 0 2px;
          bottom: 14px;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          -webkit-transform: translate(-50%) scaleX(0);
          -moz-transform: translate(-50%) scaleX(0);
          -ms-transform: translate(-50%) scaleX(0);
          -o-transform: translate(-50%) scaleX(0);
          transform: translate(-50%) scaleX(0); }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navbar-area .navbar .navbar-nav .nav-item a::before {
              display: none; } }
          @media (max-width: 767px) {
            .navbar-area .navbar .navbar-nav .nav-item a::before {
              display: none; } }
      .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
        opacity: 1;
        color: #fff; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
            color: #121212; } }
        @media (max-width: 767px) {
          .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
            color: #121212; } }
        .navbar-area .navbar .navbar-nav .nav-item.active > a::before, .navbar-area .navbar .navbar-nav .nav-item:hover > a::before {
          -webkit-transform: translate(-50%) scaleX(1);
          -moz-transform: translate(-50%) scaleX(1);
          -ms-transform: translate(-50%) scaleX(1);
          -o-transform: translate(-50%) scaleX(1);
          transform: translate(-50%) scaleX(1); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-area .navbar .navbar-btn {
        position: absolute;
        right: 70px;
        top: 7px; } }
    @media (max-width: 767px) {
      .navbar-area .navbar .navbar-btn {
        position: absolute;
        right: 60px;
        top: 7px; } }
    .navbar-area .navbar .navbar-btn li {
      display: inline-block;
      margin-right: 5px; }
      .navbar-area .navbar .navbar-btn li a {
        padding: 10px 16px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        border: 2px solid;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        .navbar-area .navbar .navbar-btn li a.light {
          border-color: #fff; }
          .navbar-area .navbar .navbar-btn li a.light:hover {
            background-color: rgba(255, 255, 255, 0.4); }
        .navbar-area .navbar .navbar-btn li a.solid {
          background-color: #fff;
          border-color: #fff;
          color: #0067f4; }
          .navbar-area .navbar .navbar-btn li a.solid:hover {
            background-color: transparent;
            color: #fff; }
  .navbar-area.sticky {
    background-color: #fff;
    z-index: 999;
    position: fixed;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
    -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
    box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); }
    .navbar-area.sticky .navbar .navbar-toggler .toggler-icon {
      background-color: #121212; }
    .navbar-area.sticky .navbar .navbar-nav .nav-item a {
      color:#3d499f;                                                        /* color */
      opacity: 1; }
      .navbar-area.sticky .navbar .navbar-nav .nav-item a::before {
        background: -webkit-linear-gradient(left, rgba(18, 18, 18, 0) 0%, #121212 100%);
        background: -o-linear-gradient(left, rgba(18, 18, 18, 0) 0%, #121212 100%);
        background: linear-gradient(to right, rgba(18, 18, 18, 0) 0%, #121212 100%); }
    .navbar-area.sticky .navbar .navbar-nav .nav-item.active, .navbar-area.sticky .navbar .navbar-nav .nav-item:hover {
      color: #121212;
      opacity: 1; }
    .navbar-area.sticky .navbar .navbar-btn li a.light {
      border-color: #0067f4;
      color: #0067f4; }
    .navbar-area.sticky .navbar .navbar-btn li a.solid {
      border-color: #0067f4;
      background-color: #0067f4;
      color: #fff; }

/* slider */
#home .carousel-item {

  background-color: #3d499f;
  position: relative; }


  #home .carousel-item::before {
    position: absolute;
    content: '';
    width: 33%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(255, 232, 206, 0.5) 0%, rgba(251, 184, 160, 0.5) 100%);
    background: -o-linear-gradient(rgba(255, 232, 206, 0.5) 0%, rgba(251, 184, 160, 0.5) 100%);
    background: linear-gradient(rgba(255,232, 206, 0.5) 0%, rgba(251, 184, 160, 0.5) 100%);

    /* background: -webkit-linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%);
    background: -o-linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%);
    background: linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%); */


    top: 0;
  left: 17.5%;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg); }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      #home .carousel-item::before {
        width: 40%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      #home .carousel-item::before {
        width: 60%; } }
    @media (max-width: 767px) {
      #home .carousel-item::before {
        width: 50%;
        right: 45%; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      #home .carousel-item::before {
        right: 25%; } }
#home  .carousel-item .slider-image-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 9; }
  #home  .carousel-item .slider-image-box .slider-image {
      max-width: 680px;
      width: 100%; }

#home .slider-content {
  position: relative;
  z-index: 9;
  padding-top: 240px;
  padding-bottom: 200px; }
  @media (max-width: 767px) {
    #home .slider-content {
      padding-top: 190px;
      padding-bottom: 150px; } }
  #home .slider-content .title {
    font-size: 88px;
    line-height: 96px;
    color: #fff;
    font-weight: 700; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      #home .slider-content .title {
        font-size: 58px;
        line-height: 80px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      #home .slider-content .title {
        font-size: 72px;
        line-height: 90px; } }
    @media (max-width: 767px) {
      #home .slider-content .title {
        font-size: 34px;
        line-height: 45px; } }
  #home .slider-content .text {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px; }
  #home .slider-content .slider-btn {
    padding-top: 16px; }
    #home .slider-content .slider-btn li {
      display: inline-block;
      margin: 16px 8px 0; }
      @media (max-width: 767px) {
        #home .slider-content .slider-btn li {
          margin: 16px 3px 0; } }
      #home .slider-content .slider-btn li a.rounded-one {
        background-color: #fff;
        border-color: #fff; }
        #home .slider-content .slider-btn li a.rounded-one:hover {
          background-color: transparent;
          color: #fff; }
      #home .slider-content .slider-btn li a.rounded-two {
        border-color: #fff; }
        #home .slider-content .slider-btn li a.rounded-two:hover {
          background-color: #fff;
          color: #0067f4; }

#home .carousel-indicators {
  margin-bottom: 50px; }
  #home .carousel-indicators li {
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    border: 0;
    margin: 0px 2px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
    #home  .carousel-indicators li {
        width: 13px;
        height: 13px; } }
    @media (max-width: 767px) {
    #home  .carousel-indicators li {
        width: 13px;
        height: 13px; } }
  #home  .carousel-indicators li.active {
      background-color: #fff;
      width: 16px;
      border-radius: 50px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
      #home  .carousel-indicators li.active {
          width: 23px; } }
      @media (max-width: 767px) {
      #home  .carousel-indicators li.active {
          width: 23px; } }

#home .carousel .carousel-control-prev,  .carousel .carousel-control-next {
  top: 50%;
  font-size: 52px;
  color: #fff;
  bottom: auto;
  left: 60px;
  right: auto;
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  /* border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px; */

 }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  #home  .carousel .carousel-control-prev, .carousel .carousel-control-next {
      left: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #home .carousel .carousel-control-prev, .carousel .carousel-control-next {
      display: none; } }
  @media (max-width: 767px) {
    #home .carousel .carousel-control-prev, .carousel .carousel-control-next {
      display: none; } }
#home .carousel .carousel-control-next {
  right: 60px;
  left: auto; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    #home .carousel .carousel-control-next {
      right: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #home .carousel .carousel-control-next {
      right: 30px; } }
  @media (max-width: 767px) {
    #home .carousel .carousel-control-next {
      right: 30px; } }


      /*===========================
          11.BUTTON css
      ===========================*/
      .buttons-title .title {
        font-size: 36px;
        line-height: 45px;
        color: #6c6c6c; }
        @media (max-width: 767px) {
          .buttons-title .title {
            font-size: 24px;
            line-height: 35px; } }

      .main-btn {
        margin: 0 0.3rem;
        display: inline-block;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 2px solid transparent;
        padding: 0 45px;
        font-size: 12px;
        line-height: 46px;
        color: #fff;
        cursor: pointer;
        z-index: 5;
        -webkit-transition: all 0.4s ease-out 0s;
        -moz-transition: all 0.4s ease-out 0s;
        -ms-transition: all 0.4s ease-out 0s;
        -o-transition: all 0.4s ease-out 0s;
        transition: all 0.4s ease-out 0s;
        position: relative;
        text-transform: uppercase; }
        @media (max-width: 767px) {
          .main-btn {
            font-size: 14px;
            padding: 0 20px;
            line-height: 40px; } }

            /*==== main button modified 1 =====*/

            .main-btn-1 {
              margin: 0 0.3rem;
              display: inline-block;
              font-weight: 700;
              text-align: center;
              white-space: nowrap;
              vertical-align: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              border: 2px solid transparent;
              padding: 0 70px;
              font-size: 12px;
              line-height: 46px;
              color: #fff;
              cursor: pointer;
              z-index: 5;
              -webkit-transition: all 0.4s ease-out 0s;
              -moz-transition: all 0.4s ease-out 0s;
              -ms-transition: all 0.4s ease-out 0s;
              -o-transition: all 0.4s ease-out 0s;
              transition: all 0.4s ease-out 0s;
              position: relative;
              text-transform: uppercase; }
              @media (max-width: 767px) {
                .main-btn-1 {
                  font-size: 14px;
                  padding: 0 20px;
                  line-height: 40px; } }

      /*===== standard Buttons =====*/
      .standard-buttons ul li {
        display: inline-block;
        margin-left: 18px;
        margin-top: 20px; }
        @media (max-width: 767px) {
          .standard-buttons ul li {
            margin-left: 0; } }
        .standard-buttons ul li:first-child {
          margin-left: 0; }
      .standard-buttons .standard-one {
        border-color: #0067f4; }
        .standard-buttons .standard-one:hover {
          color: #0067f4;
          background-color: rgba(0, 103, 244, 0.4); }
      .standard-buttons .standard-two {
        color: #fff;
        background-color: #0067f4;
        border-color: #0067f4; }
        .standard-buttons .standard-two:hover {
          color: #0067f4;
          background-color: transparent; }
      .standard-buttons .standard-three {
        overflow: hidden;
        line-height: 50px;
        color: #fff;
        background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        border: 0;
        line-height: 52px;
        background-size: 200% auto; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .standard-buttons .standard-three {
            line-height: 44px; } }
        @media (max-width: 767px) {
          .standard-buttons .standard-three {
            line-height: 44px; } }
        .standard-buttons .standard-three:hover {
          background-position: right center; }
      .standard-buttons .standard-four {
        border-color: #0067f4;
        padding-left: 60px; }
        @media (max-width: 767px) {
          .standard-buttons .standard-four {
            padding-left: 40px; } }
        .standard-buttons .standard-four span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          left: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .standard-buttons .standard-four span {
              left: 15px; } }
        .standard-buttons .standard-four:hover {
          color: #0067f4;
          background-color: rgba(0, 103, 244, 0.4); }
          .standard-buttons .standard-four:hover i {
            animation: iconTranslateY 0.5s forwards; }
      .standard-buttons .standard-five {
        color: #fff;
        background-color: #0067f4;
        border-color: #0067f4;
        padding-left: 60px; }
        @media (max-width: 767px) {
          .standard-buttons .standard-five {
            padding-left: 40px; } }
        .standard-buttons .standard-five span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          left: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .standard-buttons .standard-five span {
              left: 15px; } }
        .standard-buttons .standard-five:hover {
          color: #0067f4;
          background-color: transparent; }
          .standard-buttons .standard-five:hover i {
            animation: iconTranslateY 0.5s forwards; }
      .standard-buttons .standard-six {
        padding-right: 60px;
        overflow: hidden;
        line-height: 50px;
        color: #fff;
        background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        border: 0;
        line-height: 52px;
        background-size: 200% auto; }
        @media (max-width: 767px) {
          .standard-buttons .standard-six {
            padding-right: 40px;
            line-height: 44px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .standard-buttons .standard-six {
            line-height: 44px; } }
        .standard-buttons .standard-six span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          right: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .standard-buttons .standard-six span {
              right: 15px; } }
        .standard-buttons .standard-six:hover {
          background-position: right center; }
          .standard-buttons .standard-six:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }

      /*===== Light Rounded Buttons =====*/
      .light-rounded-buttons ul li {
        display: inline-block;
        margin-left: 18px;
        margin-top: 20px; }
        @media (max-width: 767px) {
          .light-rounded-buttons ul li {
            margin-left: 0; } }
        .light-rounded-buttons ul li:first-child {
          margin-left: 0; }
      .light-rounded-buttons .main-btn {
        border-radius: 5px; }
      .light-rounded-buttons .light-rounded-one {
        border-color: #fff;
        color: #fff;
       }
        .light-rounded-buttons .light-rounded-one:hover {
          color: #fff;
          background-color: rgba(0, 103, 244, 0.4); }
      .light-rounded-buttons .light-rounded-two {
        color: #fff;
        background-color: #0067f4;
        border-color: #0067f4; }
        .light-rounded-buttons .light-rounded-two:hover {
          color: #0067f4;
          background-color: transparent; }
      .light-rounded-buttons .light-rounded-three {
        overflow: hidden;
        line-height: 50px;
        color: #fff;
        background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background-size: 200% auto;
        line-height: 52px;
        border: 0; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .light-rounded-buttons .light-rounded-three {
            line-height: 44px; } }
        @media (max-width: 767px) {
          .light-rounded-buttons .light-rounded-three {
            line-height: 44px; } }
        .light-rounded-buttons .light-rounded-three:hover {
          background-position: right center; }
      .light-rounded-buttons .light-rounded-four {
        border-color: #0067f4;
        padding-left: 60px; }
        @media (max-width: 767px) {
          .light-rounded-buttons .light-rounded-four {
            padding-left: 40px; } }
        .light-rounded-buttons .light-rounded-four span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          left: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .light-rounded-buttons .light-rounded-four span {
              left: 15px; } }
        .light-rounded-buttons .light-rounded-four:hover {
          color: #0067f4;
          background-color: rgba(0, 103, 244, 0.4); }
          .light-rounded-buttons .light-rounded-four:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }
      .light-rounded-buttons .light-rounded-five {
        color: #fff;
        background-color: #0067f4;
        border-color: #0067f4;
        padding-left: 60px; }
        @media (max-width: 767px) {
          .light-rounded-buttons .light-rounded-five {
            padding-left: 40px; } }
        .light-rounded-buttons .light-rounded-five span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          left: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .light-rounded-buttons .light-rounded-five span {
              left: 15px; } }
        .light-rounded-buttons .light-rounded-five:hover {
          color: #0067f4;
          background-color: transparent; }
          .light-rounded-buttons .light-rounded-five:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }
      .light-rounded-buttons .light-rounded-six {
        padding-right: 60px;
        overflow: hidden;
        line-height: 50px;
        color: #fff;
        background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background-size: 200% auto;
        line-height: 52px;
        border: 0; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .light-rounded-buttons .light-rounded-six {
            line-height: 44px; } }
        @media (max-width: 767px) {
          .light-rounded-buttons .light-rounded-six {
            padding-right: 40px;
            line-height: 44px; } }
        .light-rounded-buttons .light-rounded-six span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          right: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .light-rounded-buttons .light-rounded-six span {
              right: 15px; } }
        .light-rounded-buttons .light-rounded-six:hover {
          background-position: right center; }
          .light-rounded-buttons .light-rounded-six:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }

            .light-rounded-buttons .light-rounded-seven {
              overflow: hidden;
              line-height: 50px;
              color: #fff;
              background: -webkit-linear-gradient(left, #0067f4 0%, #3d499f 50%, #0067f4 100%);
              background: -o-linear-gradient(left, #0067f4 0%, #3d499f 50%, #0067f4 100%);
              background: linear-gradient(to right, #0067f4 0%, #3d499f 50%, #0067f4 100%);
              background-size: 200% auto;
              line-height: 52px;
              border: 0; }
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                .light-rounded-buttons .light-rounded-seven {
                  line-height: 44px; } }
              @media (max-width: 767px) {
                .light-rounded-buttons .light-rounded-seven {
                  line-height: 44px; } }
              .light-rounded-buttons .light-rounded-seven:hover {
                background-position: right center; }




      /*===== Semi Rounded Buttons =====*/
      .semi-rounded-buttons ul li {
        display: inline-block;
        margin-left: 18px;
        margin-top: 20px; }
        @media (max-width: 767px) {
          .semi-rounded-buttons ul li {
            margin-left: 0; } }
        .semi-rounded-buttons ul li:first-child {
          margin-left: 0; }
      .semi-rounded-buttons .main-btn {
        border-radius: 10px; }
        .semi-rounded-buttons .main-btn-1 {
          border-radius: 10px; }
      .semi-rounded-buttons .semi-rounded-one {
        border-color: #f25ca2;
        color: #f25ca2;
       }
        .semi-rounded-buttons .semi-rounded-one:hover {
          color: #e675aa;
          background-color: #fff; }
      .semi-rounded-buttons .semi-rounded-two {
        color: #fff;
        background-color: #f25ca2;
        border-color:  #f25ca2; }
        .semi-rounded-buttons .semi-rounded-two:hover {
          color: #fff;;
          background-color:#e675aa; }
      .semi-rounded-buttons .semi-rounded-three {
        overflow: hidden;
        line-height: 52px;
        background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background-size: 200% auto;
        border: 0;
        color: #fff; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .semi-rounded-buttons .semi-rounded-three {
            line-height: 44px; } }
        @media (max-width: 767px) {
          .semi-rounded-buttons .semi-rounded-three {
            line-height: 44px; } }
        .semi-rounded-buttons .semi-rounded-three:hover {
          background-position: right center; }
      .semi-rounded-buttons .semi-rounded-four {
        border-color: #0067f4;
        padding-left: 60px; }
        @media (max-width: 767px) {
          .semi-rounded-buttons .semi-rounded-four {
            padding-left: 40px; } }
        .semi-rounded-buttons .semi-rounded-four span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          left: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .semi-rounded-buttons .semi-rounded-four span {
              left: 15px; } }
        .semi-rounded-buttons .semi-rounded-four:hover {
          color: #0067f4;
          background-color: rgba(0, 103, 244, 0.4); }
          .semi-rounded-buttons .semi-rounded-four:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }
      .semi-rounded-buttons .semi-rounded-five {
        color: #fff;
        background-color: #0067f4;
        border-color: #0067f4;
        padding-left: 60px; }
        @media (max-width: 767px) {
          .semi-rounded-buttons .semi-rounded-five {
            padding-left: 40px; } }
        .semi-rounded-buttons .semi-rounded-five span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          left: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .semi-rounded-buttons .semi-rounded-five span {
              left: 15px; } }
        .semi-rounded-buttons .semi-rounded-five:hover {
          color: #0067f4;
          background-color: transparent; }
          .semi-rounded-buttons .semi-rounded-five:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }
      .semi-rounded-buttons .semi-rounded-six {
        padding-right: 60px;
        overflow: hidden;
        line-height: 52px;
        background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background-size: 200% auto;
        border: 0;
        color: #fff; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .semi-rounded-buttons .semi-rounded-six {
            line-height: 44px; } }
        @media (max-width: 767px) {
          .semi-rounded-buttons .semi-rounded-six {
            padding-right: 40px;
            line-height: 44px; } }
        .semi-rounded-buttons .semi-rounded-six span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          right: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .semi-rounded-buttons .semi-rounded-six span {
              right: 15px; } }
        .semi-rounded-buttons .semi-rounded-six:hover {
          background-position: right center; }
          .semi-rounded-buttons .semi-rounded-six:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }

      /*===== Rounded Buttons =====*/
      .rounded-buttons ul li {
        display: inline-block;
        margin-left: 18px;
        margin-top: 20px; }
        @media (max-width: 767px) {
          .rounded-buttons ul li {
            margin-left: 0; } }
        .rounded-buttons ul li:first-child {
          margin-left: 0; }
      .rounded-buttons .main-btn {
        border-radius: 50px; }
      .rounded-buttons .rounded-one {
        border-color: #f25ca2; }
        .rounded-buttons .rounded-one:hover {
          color: #fff;
          background-color: rgba(0, 103, 244, 0.4); }
      .rounded-buttons .rounded-two {
        color: #fff;
        background-color: #f25ca2;
        border-color:  #f25ca2; }
        .rounded-buttons .rounded-two:hover {
          color: #0067f4;
          background-color: transparent; }
      .rounded-buttons .rounded-three {
        overflow: hidden;
        line-height: 52px;
        background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background-size: 200% auto;
        color: #fff;
        border: 0; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .rounded-buttons .rounded-three {
            line-height: 44px; } }
        @media (max-width: 767px) {
          .rounded-buttons .rounded-three {
            line-height: 44px; } }
        .rounded-buttons .rounded-three:hover {
          background-position: right center; }
      .rounded-buttons .rounded-four {
        border-color: #0067f4;
        padding-left: 60px; }
        @media (max-width: 767px) {
          .rounded-buttons .rounded-four {
            padding-left: 40px; } }
        .rounded-buttons .rounded-four span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          left: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .rounded-buttons .rounded-four span {
              left: 15px; } }
        .rounded-buttons .rounded-four:hover {
          color: #0067f4;
          background-color: rgba(0, 103, 244, 0.4); }
          .rounded-buttons .rounded-four:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }
      .rounded-buttons .rounded-five {
        color: #fff;
        background-color: #0067f4;
        border-color: #0067f4;
        padding-left: 60px; }
        @media (max-width: 767px) {
          .rounded-buttons .rounded-five {
            padding-left: 40px; } }
        .rounded-buttons .rounded-five span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          left: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .rounded-buttons .rounded-five span {
              left: 15px; } }
        .rounded-buttons .rounded-five:hover {
          color: #0067f4;
          background-color: transparent; }
          .rounded-buttons .rounded-five:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }
      .rounded-buttons .rounded-six {
        padding-right: 60px;
        overflow: hidden;
        line-height: 52px;
        background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
        background-size: 200% auto;
        color: #fff;
        border: 0; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .rounded-buttons .rounded-six {
            line-height: 44px; } }
        @media (max-width: 767px) {
          .rounded-buttons .rounded-six {
            padding-right: 40px;
            line-height: 44px; } }
        .rounded-buttons .rounded-six span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          overflow: hidden;
          right: 30px;
          line-height: normal; }
          @media (max-width: 767px) {
            .rounded-buttons .rounded-six span {
              right: 15px; } }
        .rounded-buttons .rounded-six:hover {
          background-position: right center; }
          .rounded-buttons .rounded-six:hover i {
            -webkit-animation: iconTranslateY 0.5s forwards;
            -moz-animation: iconTranslateY 0.5s forwards;
            -o-animation: iconTranslateY 0.5s forwards;
            animation: iconTranslateY 0.5s forwards; }




/* about section*/
#donations {
    padding: 2% 25%;
    text-align: left;

}

#donations h2{

  color: #333333;
}

.list-display li {
  margin-bottom:.4rem;
  font-size:1.1rem;
}
.list-checkmarks {
  padding-left:1.5rem;
}
.list-checkmarks li {
  list-style-type:none;
  padding-left:1rem;
}


.list-cross li::before {
font-family: 'Font Awesome 5 Free';
font-weight: 400;
content: "\f00c";
margin:0 10px 0 -28px;
color: red;
}


#donation-part {

    background-color: #3d499f;
    padding: 2% 25%;
    text-align: left;

}


#donation-part h2 {

  color: #fff;

}

 #donation-part p {

   color: #fff;

   line-height: 34px;
 }

 #donation-part strong {
   font-weight: bold;
 }

 #donation-part-2 {


     padding: 2% 25%;
     text-align: left;

 }

 #donation-part-2 p {
   line-height: 34px;
 }

 .center-left{
   display: inline-block;
 }

/* services */

#services{
  background-color: #3d499f;
}
#services h2,#services h4,#services  p {
  color: #fff;
  line-height: 34px;
}

#services .service-icon{

  font-size: 4rem;;

}



.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.to-push{
  padding-top: 5rem;
}


.page-section {
  /* margin-top: 5rem; */
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}



#about h2 {
  color:#555;
}

#about p {
  line-height: 34px;
  color:#555;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

/* end of about section */

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 0;
}

.clients .client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 120px;
}

.clients .client-logo img {
  height: 40px;
}

.clients .client-logo:hover img {
  transform: scale(1.2);
}

.clients img {
  transition: all 0.4s ease-in-out;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
#features .section-title {
  padding-bottom: 5%;
}

#features a{
  color: #555;
}

.features .content + .content {
  margin-top: 50px;
}

.features .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #213b52;
}

.features .content ul {
  list-style: none;
  padding: 0;
}

.features .content ul li {
  padding-bottom: 10px;
}

.features .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #f25ca2;
}

.features .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio p{
  color: #fff;
}
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(61, 73, 159, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);

  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    display: none;
  }

  .portfolio-item:hover .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    display: block;
  }
  .portfolio-item img {

    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(61, 73, 159, 0.9);
    -webkit-clip-path: inset(1rem);
    clip-path: inset(1rem);


  }
}


/*hover efect */




/* contact and footer */

.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid  rgba(61, 73, 159, 0.9);
}
.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color:  rgba(61, 73, 159, 0.9);
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: red;
  /* color: rgba(255, 255, 255, 0.3); */
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}


 hr{
   margin:auto;
 }

.footer {
  padding: 5rem 0;

  background-color:  rgba(61, 73, 159, 0.9);

}


.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #213b52;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #f25ca2;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  background-image: url("../images/subbg.png");
  /* background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%); */

}



/* showcase    */
#showcase .showcase-text  {
  margin: 0;
  padding: 7rem 6rem 12rem 6rem;;
  background-color:  #3d499f;



}

@media (max-width: 576px) {
 #showcase .showcase-text {         /*  media for showcase */
 margin: 1rem 0;
 padding: 0;
 text-align: center;


 }

 .custom-button {
   margin-top: 1rem;
   margin-bottom: 1rem;
 }


}

#showcase .showcase-text  h2{
  color: white;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 1rem;
}

#showcase .showcase-text  p{
  color: white;
  line-height: 34px;
}







.showcase .showcase-img {

  /* min-height: 30rem; */
  background-size:cover;
  background-repeat:   no-repeat;
  background-position: center center;


}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

/* faq  */


/* contact */





.page-section {
  padding: 8rem 0;
}


section#contact {
  background-color: #3d499f;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .section-heading {
  color: #fff;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

.contact-heading{
  padding: 3rem 0
}

.contact-para{
  padding: 1rem 0
}

#contact2 {
  text-align: center;
}

#contact2.contact-section{

  background-image: linear-gradient(to right, rgba(61, 73, 159, .8), rgba(61, 73, 159, .8)), url('../images/about-background.png');
    /* background:#3d499f url("../images/about-background.png"); */

}

section.contact2 h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact2 h2 i {
  color: #dd4b39;
}

section.contact2 ul.list-social {
  margin-bottom: 0;
}

section.contact2 ul.list-social li a {
  font-size: 35px;
  line-height: 55px;
  display: block;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 100%;
}

section.contact2 ul.list-social li.social-twitter a {
  background-color: red;

}

section.contact2 ul.list-social li.social-twitter a:hover {
  background-color: red;
}

section.contact2 ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact2 ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact2 ul.list-social li.social-instagram a {
  background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );;
}

section.contact2 ul.list-social li.social-instagram a:hover {
  background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );;


}

.social {
  padding-bottom: 1rem;
}

/* footer   */

.footer-bs {
    background-color: #193061;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); font-size:12px; }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);font-size:12px;}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}


/*# sourceMappingURL=style.css.map */
